body{
    background-color: #000;
}
.field input{
    background-color: #000;
    color:#fff;
}
.field:not(:last-child) {
    margin-bottom:0;
}

.swiper-container-v {
    width: 100vw;
    height: 650px;
}
.swiper-slide{
    text-align: center;
}